version: "3.8"

services: 
  web:
    container_name: nginx-server
    image: nginx:1.29.4-alpine
    ports:
      - "8080:80"
    volumes: 
       - ./src:/var/www/html
       - ./config/nginx.conf:/etc/nginx/conf.d/default.conf 
  php:
    container_name: php-fpm
    build:
      context: .
      dockerfile: Dockerfile
    ports: 
      - "9000:9000"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - web
  mysql:
    image: mysql:8.4.8
    container_name: mysql
    ports: 
      - "3306:3306"
    env_file: 
      - ./.env 
    volumes:
      - mysql-data:/var/lib/mysql  
    depends_on:
      - php
    restart: unless-stopped  
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    ports: 
      - "8081:80"
    depends_on:
      - mysql
    environment: 
      - PMA_HOST=mysql
      - PMA_USER=root
      - PMA_PASSWORD=your_root_password
    restart: unless-stopped     

volumes: 
  mysql-data:

